{% extends "base.html" %}
{% block content %}

<!-- Contact Section -->

    <section id="contact">
        <div class="container" style="padding-top: 40px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 id="result">An Unexpected Error Has Occured.</h2>
                    <p>The Administrator has been notified. Sorry for the inconvenience!</p>
                    <hr class="star-primary">
                </div>
            </div>
        </div>
    </section>
{% endblock %}